{% load static %}
{% block sidebar %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
 
  <ul class="nav">
    <li class="nav-item profile">
      <div class="profile-desc">
       
        
    </li>
    <li class="nav-item nav-category">
      <span class="nav-link">Navigation</span>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="index.html">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer"></i>
        </span>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
  
    <li class="nav-item menu-items">
      <a class="nav-link" href="/sistema/add">
        <span class="menu-icon">
          <i class="mdi mdi-playlist-play"></i>
        </span>
        <span class="menu-title">Registrar Experimento</span>
      </a>
    </li>
    <li class="nav-item menu-items">
      <a class="nav-link" href="/sistema/">
        <span class="menu-icon">
          <i class="mdi mdi-table-large"></i>
        </span>
        <span class="menu-title">Meus Experimentos</span>
      </a>
    </li>
 
    <li class="nav-item menu-items">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-icon">
          <i class="mdi mdi-security"></i>
        </span>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/accounts/login"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" href="/usuario/register"> Register </a></li>
        </ul>
      </div>
    </li>
    
  </ul>
</nav>

{% endblock %}