{% extends "base.html" %}
{% block delete %}
    <h3>Deseja excluir o experimento?</h3>



    <table class="table">
     
       
          <th>Nome</th>
          <td> {{ experimento.name}}</td>
        <tr>
            <th>Membros</th>
            <td> {{ experimento.members}}</td>
          </tr>
          <th>Data</th>
          <td> {{ experimento.date}}</td>
        <tr>
            <th>Local</th>
          <td> {{ experimento.local}}</td>
        </tr>
    
    </table>
    <button type="submit" class="btn btn-primary mr-2">
        <a style="color: black; text-decoration: none;"  href="/sistema/delete/{{ experimento.id }}">Sim</a>
    </button>
    <button class="btn btn-dark">
        <a style="color: white; text-decoration: none; " href="/sistema/">Não</a>
    </button>
{% endblock %}

